<!DOCTYPE html>
<html>
<head>
  <title>Remove ASIN</title>
  <meta charset="utf-8">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="styles_home.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="script.js"></script>
</head>
<body>
  <div class = "container-fluid">
    <nav>
      <ul>
        <li><a href="http://localhost:4567/">Home</a></li>
        <li><a href="http://localhost:4567/addasin">Add ASIN</a></li>
        <li class="active"><a href="http://localhost:4567/deleteasin">Remove ASIN</a></li>
      </ul>
    </nav>
    <div class= "container">
      <h1>Remove an ASIN</h1>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class= "col-md-2" style= "overflow: hidden; width: auto;">ASIN</th>
            <th class= "col-md-4" style= "overflow: hidden; width: auto;">TITLE</th>
            <th class= "col-md-2" style= "overflow: hidden; width: auto;">DELETE</th>
          </tr>
        </thead>
          <tbody>
            <% view_asins_titles.each do |row|%>
            <form method="post" action="/deleteasin">
              <tr>
                <td><a href= "<%= "history/" + row[0] %>"><%= row[0] %></a></td>
                <td>
                  <% if row[1] %>
                    <%= row[1] %>
                  <% else %>
                    <%= "No title..." %>
                  <% end %>
                </td>
                <input type="hidden" name="asin_to_delete" value="<%= row[0] %>">
                <td><input type="submit"></td>
              </tr>
            </form>
            <% end %>
          </tbody>
      </table>
    </div>
  </div>
</body>
</html>